<div class="col span-6-t debug">
    <canvas id="canvas" width="600" height="500"></canvas>
    <div class="toolbar">
        <span class="tool color" id="purple" style="background-color: #963C94">P</span>
        <span class="tool color" id="blue" style="background-color: #1E90FF">B</span>
        <span class="tool color" id="green" style="background-color: #3CB371">G</span>
        <span class="tool color" id="gold" style="background-color: #FFD700">Y</span>
        <span class="tool color" id="orange" style="background-color: #FFA500">O</span>
        <span class="tool color" id="red" style="background-color: #B22222">R</span>
        <span class="tool color" id="white" style="background-color: #FFFFFF">E</span>
        <span class="tool line-width" id="10">S1</span>
        <span class="tool line-width" id="20">S2</span>
        <span class="tool line-width" id="30">S3</span>
    </div>
</div>