<div class="col span-6-t debug">
    <div class="row">
        <div>
            <canvas id="canvas" width="1000" height="500"></canvas>
        </div>
    </div>

    <div class="toolbar">
        <span class="tool color btn" id="purple" style="background-color: #963C94"></span>
        <span class="tool color btn" id="blue" style="background-color: #1E90FF"></span>
        <span class="tool color btn" id="green" style="background-color: #3CB371"></span>
        <span class="tool color btn" id="gold" style="background-color: #FFD700"></span>
        <span class="tool color btn" id="orange" style="background-color: #FFA500"></span>
        <span class="tool color btn" id="red" style="background-color: #B22222"></span>
        <span class="tool color btn" id="brown" style="background-color: #8A6343"></span>
        <span class="tool color btn" id="pink" style="background-color: #ff66ff"></span>
        <span class="tool color btn" id="black" style="background-color: #000000"></span>
        <span class="tool color btn" id="white" style="background-color: #FFFFFF"></span>
        <span class="tool line-width btn" id="10">S1</span>
        <span class="tool line-width btn" id="20">S2</span>
        <span class="tool line-width btn" id="30">S3</span>
    </div>
</div>