<div class="col span-6-t debug">
    <div class="chatbox">
        <p id="chatbox"></p>
        <ul id="userlist"></ul>
    </div>
    <form class="send-chat">
        <span id="usercount">0</span>
        <label for="message">Chat:</label>
        <input id="message" type="text"/>
        <button id="button">Send</button>
    </form>
</div>
</div>