<div class="col span-6-t debug">
    <div class="chatbox">
        <div align="left">
            <p id="chatbox"></p>
        </div>
    </div>
    <form class="send-chat">
        <label for="message">Chat:</label>
        <input id="message" type="text"/>
        <button id="button" class="btn btn-primary">Send</button>
    </form>
    <ul id="userlist" align="left"></ul>
</div>
</div>